<div class="modal-header bg-info">
  <h4
    class="modal-title"
    id="modal-basic-title"
  >{{title}}</h4>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <span class="text-danger">{{message}}</span>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="modal.close('Save click')"
  >Close</button>
</div>
